<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015705647583-2s9sqt5jca6pdbmb0lmcetbhl8pbqqdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015705647583-2s9sqt5jca6pdbmb0lmcetbhl8pbqqdc</string>
	<key>API_KEY</key>
	<string>AIzaSyDWO8Eoqp-gMJL5MlytR43riM9dvB5xRwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1015705647583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamesthang.SalesRecord</string>
	<key>PROJECT_ID</key>
	<string>v-pos-e3577</string>
	<key>STORAGE_BUCKET</key>
	<string>v-pos-e3577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015705647583:ios:b032f07f384fab45efec6a</string>
	<key>DATABASE_URL</key>
	<string>https://v-pos-e3577.firebaseio.com</string>
</dict>
</plist>